{
    "Diagnostics": {
        "UnusedIncludes": "None",
        "Suppress": [
            "-Wpointer-to-int-cast",
            "-Wmain-return-type",
            "pp_including_mainfile_in_preamble"
        ]
    },
    "InlayHints": {
        "Enabled": "No"
    }
}